#About{
    overflow: hidden;
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.AboutHeader{
    height: 5rem;
    width:100vw;
}

.AboutHeader_span{
    text-align: right;
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
}

.AboutBody{
    height: calc(100vh - 5rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start
    
}

.AboutImage{
    z-index: -1;
    object-fit: cover;
    height: 100vh;
    width: 50%;
    position: absolute;
    top: -4rem;
    left:0; 

}

.AboutContentMain{


    height:100%;
    width: 100%;
    width:50%;
    position: absolute;
    top: 0rem;
    right:0; 



 
}

.AboutContent{
    font-size: 2rem;
    font-weight: 500;
    height: 100vh;
    width: 100vw;
    padding:3rem;

}

.P_About{
    text-align: justify;
    justify-content: right;
    font-size: 1.30rem;
    font-weight: 200;
    padding: 2rem;


}